div{
    width:100%;
    height: 80%;
    background-image: linear-gradient( rgb(#dfdfdf,0.8) , rgb(#0e2332,0.8)),url(/assets/Fondo-home.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
}