.cabecera{
    height: 13%;
    background-image: linear-gradient( rgb(#b9b9b9,0.5) , rgb(#b9b9b9,0.5)), url("/assets/Cabecera2.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 0 0;
    padding: 0 0; 
    overflow: hidden;  
}

.fondo{
    width: 100%;
    height: auto;
    position: relative;
    
}
.cabecera .logo{
    //filter: drop-shadow(22px 0 0px rgb(255, 255, 255));
    justify-items: center;
}

.cabecera .logo img{

    size: cover;
    width: 20vh;
    transition: all 0.3s;
    cursor: pointer;
    display: block;
    //background-color: #ffffff;    
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    padding: 0 20px; 
    border-radius: 3px;
    
}
.cabecera .logo img:hover{
    transform: scale(1.2);
}
 .cabecera_center nav li{
    display: inline-flex;
    list-style: outside none none;

}

.cabecera_center nav a{
    padding: .5em .8em;
    color: #414142;
    display: inline-flex;
    transition: all 0.3s;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    mat-icon{
        color: #e9e9e9;
    }
    
}
.cabecera_center nav a:hover{
    color:#b66100;
    background: linear-gradient( rgb(#ad8b63,0.5) , rgb(#ad8b63,0.5));
    border-bottom: 2px solid #d67b10;
    border-radius: 3px;
    
}
.cabecera_center nav a.active{
    color:#b66100;
    border-bottom: 2px solid #d67b10;
    border-radius: 3px;
}

            