<div class="cabecera" >
    <!-- <img class="fondo" src="assets/ZZZZZ2590.jpg" alt=""> -->    
    <div class="logo">
        <img class="imagenlogo" src="/assets/Logo.jpeg" alt="LogoInderco">
    </div>
    <div class="cabecera_center">
        <nav class="cab-link">
            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                    <a class="nav__links" routerLink="/home" routerLinkActive="active"><mat-icon>home</mat-icon> Home </a>
                </li>
                <li class="nav__items">
                    <a class="nav__links" routerLink="/registrarOrden" routerLinkActive="active"><mat-icon>done</mat-icon>Registrar orden de compra</a>
                </li>
                <li class="nav__items">
                    <a class="nav__links" routerLink="/buscarOrden" routerLinkActive="active"><mat-icon>search</mat-icon>Buscar Orden de Compra</a>
                </li>
                <li class="nav__items">
                    <a class="nav__links" routerLink="/actualizaOrden" routerLinkActive="active"><mat-icon>filter_none</mat-icon>Recepción de Orden de Compra</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links" routerLinkActive="active"><mat-icon>assignment</mat-icon>Informes</a>
                </li>                              
            </ul>            
         </nav>
    </div>
</div>    


